<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
	<ini name="memory_limit" value="512M"/>
    <env name="APP_ENV" value="testing"/>
    <env name="DB_DATABASE" value="todoListTest"/>
  </php>
  <logging>
    <junit outputFile="php://stdout"/>
  </logging>
  <source>
    <include>
      <directory>app</directory>
    </include>
  </source>
</phpunit>
